.element__description {
    display: flex;
    justify-content: space-between;
    padding: 25px 15px 26px 21px;
    align-items: center;
}

@media screen and (max-width: 670px) {
    .element__description {
        padding: 25px 20px 26px 21px;
    }
}